<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
{%load static%}
<html>
<style>
    .nav-green-color{
        background: green;
        color: white;
    }
    a {
        text-decoration: none;
    }
</style>
    <header>
        <nav class="navbar navbar-expand-lg nav-green-color">
            <h3 class="navbar-brand">GitLit</h3>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto p-2">
                    <li>Welcome {{ user }}</li>
                    <li><a href="{% url 'logout' %}" style="text-decoration: none; color: white; padding-left: 20px">logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav ml-auto">
                    <li><a href="{% url 'social:begin' 'github' %}" style="text-decoration: none; color: white"><i class="fa fa-3x fa-github"></i></a></li>
                </ul>
            {% endif %}
        </nav>
    </header>
    <div>
        <div>
            <div>
                {%block content%}
                {%endblock%}
            </div>
        </div>
    </div>
</html>