<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title href='/'>GitLit</title>
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {%block content%}
                    {%endblock%}
                </div>
            </div>
        </div>
    </body>
</html>