#page
{
    padding-left: 5rem;
    position: absolute;
    background: #eee;
    width: 100%;
    min-height: 100vh;
}

#sidebar
{
    background: #483D8B;
    width: 5rem;
    height: 100%;
    left: 0;
    position: fixed;
    box-shadow: 0px 1px 1px black;
    z-index: 500;
}

#sidebar .logo
{
    height: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background: white;
}

#home_bg
{
    background-color: #F5EEF8;
    height: 100vh;
    width: 100%;
}

#topbar
{
    background: white;
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 1px black;
    border-bottom: 1px solid #ddd;
}

