{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{repository.name}} by {{repository.owner}} | repository {% endblock %}
{% block content %}
<div class="row m-0">
     <div id="profile" class="col-lg-9">
        <div id="header">
            <div class="row m-0">
                <div class="col-md-8 align-items-center d-flex">
                    <div>
                        <h1 class="text-lowercase">
                            <a href="https://github.com/{{repository.owner}}">{{repository.owner}}</a> / {{repository.name}}
                        </h1>
                        <h4>{{repository.score}}<span>xp</span></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <h6 class="d-none d-lg-block px-2">STATS</h6>
                    <ul>
                        <li>
                            <img src="{% static 'repo/images/responsetime.png' %}">
                            <span>{{repository.avgFirstResponseTime}}</span> Response Time
                        </li>
                        <li>
                            <img src="{% static 'repo/images/mergetime.png' %}">
                            <span>{{repository.avgPRmergeTime}}</span> Merge Time
                        </li>
                        <li>
                            <img src="{% static 'repo/images/resolutiontime.png' %}">
                            <span>{{repository.avgIssueResolutionTime}}</span> Resolution Time
                        </li>
                        <li>
                            <img src="{% static 'repo/images/newcontributors.png' %}">
                            <span>{{repository.firstTimeContributorsThisWeek}}</span> New Contributors
                        </li>
                        <li>
                            <img src="{% static 'repo/images/contributorschange.png' %}">
                            <span>{{repository.weeklyContributorsChange}}</span> Contributors this Week
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div id="points">
            <h6 class="d-none d-lg-block pt-3 pl-4"> <img src="{% static 'repo/images/meter.png' %}"> SCORES</h6>
            <div class="row m-0">
                <div class="col-md-3 col-6">
                    <div class="d-md-flex align-items-center">
                        <img src="{% static 'repo/images/merit.png' %}">
                        <section>
                            <h4>{{repository.meritScore}}<span>xp</span></h4>
                             <p>Merit</p>
                        </section>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="d-md-flex align-items-center">
                        <img src="{% static 'repo/images/activity.png' %}">
                        <section>
                            <h4>{{repository.activityScore}}<span>xp</span></h4>
                            <p>Activity</p>
                        </section>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="d-md-flex align-items-center">
                        <img src="{% static 'repo/images/popularity.png' %}">
                        <section>
                           <h4>{{repository.popularityScore}}<span>xp</span></h4>
                            <p>Popularity</p>
                        </section>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="d-md-flex align-items-center">
                        <img src="{% static 'repo/images/inclusivity.png' %}">
                        <section>
                            <h4>{{repository.inclusivityScore}}<span>xp</span></h4>
                            <p>Inclusivity</p>
                        </section>
                    </div>
                </div>

            </div>
        </div>

        <div class="row m-0">
             <div id="checklist" class="col-md-3">
                <h6 class="d-none d-lg-block pt-3 pl-4"> <img src="{% static 'repo/images/checklist.png' %}"> CHECKLIST</h6>
                <div class="state-{{repository.hasTopicTag}}">
                    <i class="fa"></i>
                    <h4>Topic Tags</h4>
                </div>
                <div class="state-{{repository.hasDocumentation}}">
                    <i class="fa"></i>
                    <h4>Documentation</h4>
                </div>
                <div class="state-{{repository.hasDescription}}">
                    <i class="fa"></i>
                    <h4>Description</h4>
                </div>
                <div class="state-{{repository.hasLicense}}">
                    <i class="fa"></i>
                    <h4>Contributing Guidelines</h4>
                </div>
                <div  class="state-{{repository.hasContributingGuidelines}}">
                    <i class="fa"></i>
                    <h4>License</h4>
                </div>
            </div>
            <div id="topic" class="col-md-3">

            </div>
            <div id="languages" class="col-md-3">

            </div>
        </div>

     </div>
    <div class="col-lg-3 p-3">
        <h6 class="justify-content-center p-3"> <img src="{% static 'repo/images/repository.png' %}"> SIMILAR REPOS</h6>
    </div>
</div>
{% endblock %}
